.quickSearch {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 25px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 280px; 
  transition: width 0.3s ease;
  height: 38px;
}

.searchInput {
  width: 100%;
  padding: 0 40px 0 20px;
  font-size: 0,95rem;
  font-weight: 500;
  border: none;
  background: transparent;
  border-radius: 25px;
  outline: none;
  color: #1a1f36;
  height: 100%;
}

.icon {
  position: absolute;
  right: 15px;
  font-size: 1.2rem;
  color: #6b6b80;
  pointer-events: none; 
}

/* reponzivnost */

@media (max-width: 1024px) {
  .quickSearch {
    width: 200px; 
  }
}

@media (max-width: 650px) {
  .quickSearch {
    width: 150px; 
  }
  
  .searchInput {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .icon {
    right: 12px;
    font-size: 1rem;
  }
}


.quickSearch:focus-within {
  box-shadow: 0 0 0 2px #5d46e2; 
}