

.quickSearch {
    display: flex;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
    width: 350px; 
}


.quickSearch input {
    width: 100%; 
    padding: 0.5rem 0.8rem; 
    font-size: 1rem; 
    font-weight: 500; 
    border: none;
    border-radius: 5;
    outline: none;
}

.quickSearch button {
    
    flex-shrink: 0; 
    padding: 0.5rem 0.9rem; 
    font-size: 0.9rem; 
    font-weight: 600; 
    border: none;
    border-radius: 5px;
    background-color: #5d46e2; 
  
    color: #1a1f36;
    cursor: pointer;
   transition: all 0.3s;
}

.quickSearch button:hover {
    background-color: #5d46e2; 
    transform: scale(1.05);
}